.checkout__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-height: 500px;
  width: 100%;
  background-color: #fff;
  /* border: 0.5px solid; */
  border-color: #999999;
  border-radius: 5px;
  margin: 10px 0px;
  align-items: center;
}

.checkout__info {
  flex: 1;
  padding: 15px;
  margin-bottom: 10px;
}

.product__title {
  font-size: 1.35rem;
  margin-bottom: 3px;
}

.product__price {
  font-size: 1.15rem;
  margin-bottom: 5px;
}

.checkout__image {
  /* width: 20%; */
  max-height: 100px;
  object-fit: contain;
}

.checkout__button {
  color: #004d40;
  display: flex;
  margin: auto;
  padding-top: 15px;
}

.checkout__buttonOptions:hover {
  color: #00e676;
  margin: 10px 0 0 0;
}

.checkout__buttonOptions {
  color: #004d40;
  margin: 10px 0 0 0;
  font-size: 30px;
}

.checkout__imageBox {
  display: flex;
  width: 20%;
}
